.section-four {
    width: 90%;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
}
.cards {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(179, 179, 179);
    gap: 2em;
}
.cards-text {
    padding-inline: 1em;
}
.cards-text h5 {
    font-weight: bold
}
.cards-footer {
    background-color: #A0AA84;
    text-align: right;
    position: relative;
    padding: 0.7em 1em;
}
.cards-button {
    border: none;
    background-color: #A0AA84;
    text-align: left;
    position: absolute;
    left: 0;
    font-weight: bold;
}
.cards-footer i {
    margin-left: 2em;
}
